@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,500,600,700,800,900&display=swap");

@import "_fonts.scss";
@import "_reset.scss";
@import "_variables.scss";
@import "_functions.scss";
@import "_mixins.scss";
@import "_common.scss";
@import "_header.scss";

@import "_main0.scss";
@import "_main02.scss";

/* Основні стилі */

body {
   font-family: $fontFamily;
   font-size: 0.875rem;
   color: $mainTextColor;
   background: $mainBgUrl;
}
.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
   background: $mainBgOpacity;
}
.wrapper > main {
   flex-grow: 1;
}
/* --------------------- */
[class*="__container"] {
   max-width: 75rem;
   padding-inline: 0.9375rem;
   margin: 0 auto;
}
.wrapper__title {
   font-size: 1.25rem;
   border-bottom: 0.0625rem solid black;
   padding-block: 0.625rem;
}
.tab-55 {
   max-width: 500px;
   display: grid;
   grid-template-columns: 0.5fr 1fr;
   align-items: center;
   column-gap: 10px;
   &:not(:last-child) {
      margin-block-end: 5px;
   }
}
label {
   font-size: 16px;
}
input {
   border: 1px solid #000000;
   width: 100%;
   padding: 5px;
}
.tab-56 {
   border: 1px solid #610707;
   border-collapse: collapse;
   text-align: center;
   // background-color: #6d505056;
   font-size: 20px;
}
.td-56 {
   border: 1px solid #e95b5b;
   // border-inline-end: 0.0625rem dashed white;
   padding: 15px;
}
.tab-59 {
   display: inline-block;
   margin-inline: 10px;
}
.tab-507 {
   font-size: 20px;
   font-weight: 700;
}
hr {
   width: 200px;
   border-bottom: 1px solid #e95b5b;
}
.img-512-0 {
   border-radius: 6px;
   inline-size: 75px;
   block-size: 75px;
   object-fit: contain;
   background-color: #ffffff;
}
.img-512 {
   border-radius: 12px;
   inline-size: 200px;
   block-size: 200px;
   object-fit: contain;
   background-color: #ffffff;
}
